<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online_bidding_system">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeAndGarden"></activity>
        <activity android:name=".Other_category" />
        <activity android:name=".Fashion_category" />
        <activity android:name=".DVDnMovies_category" />
        <activity android:name=".DeleteBid" />
        <activity android:name=".Sports_category" />
        <activity android:name=".Music_category" />
        <activity android:name=".Edit_User" />
        <activity android:name=".Draft_Auctions" />
        <activity android:name=".MyWins" />
        <activity android:name=".MyAuctions" />
        <activity android:name=".PlaceBid" />
        <activity android:name=".books_category" />
        <activity android:name=".handmade_category" />
        <activity android:name=".Antiques_Edit" />
        <activity android:name=".RegistrationPage" />
        <activity android:name=".Antiques_Category" />
        <activity android:name=".main_categories" />
        <activity android:name=".PaymentPage"></activity>
        <activity android:name=".LogIn_Page"></activity>
        <activity android:name=".StartBidding"></activity>

        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditBid" />
        <activity android:name=".ProfilePageBasic" />
        <activity android:name=".myBids" />
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>