<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online_bidding_system">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BidCloud"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Electronics_Edit">


        </activity>


        <activity android:name=".DVDnMovies_Edit" >


        </activity>


        <activity android:name=".displayAds" />
        <activity android:name=".OtherEditpage" />
        <activity android:name=".SportsEditPage" />
        <activity android:name=".HomeAndGardenEditpage" />
        <activity android:name=".TestHome" />
        <activity android:name=".TabedAuctions" />
        <activity android:name=".HomeAndGarden" />
        <activity android:name=".Other_category" />
        <activity android:name=".Fashion_category">

        </activity>
        <activity android:name=".DVDnMovies_category" />
        <activity android:name=".Sports_category" />
        <activity android:name=".Music_category" />
        <activity android:name=".Edit_User" />
        <activity android:name=".Draft_Auctions" />
        <activity android:name=".MyWins" />
        <activity android:name=".MyAuctions" />
        <activity android:name=".PlaceBid" />
        <activity android:name=".Books_Category" />

        <activity android:name=".Books_Edit" >




        </activity>

        <activity android:name=".Handmade_Category" />
        <activity android:name=".Antiques_Edit" >







        </activity>
        <activity android:name=".RegistrationPage" >

        </activity>



        <activity android:name=".Antiques_Category" />
        <activity android:name=".main_categories" />
        <activity android:name=".PaymentPage" >



        </activity>

        <activity android:name=".LogIn_Page" >
        </activity>




        <activity android:name=".StartBidding" />
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditBid" />
        <activity android:name=".ProfilePageBasic" />
        <activity android:name=".myBids" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>